extends layout

block content
	main 
		.sort_list
			h2 Filter List 
			button Sort List
			span Initial
			ul 
				li Berlin
				li Bern
				li Belfast
				li Warsaw
				li Podgorica
				li Nuuk
				li Tallinn
				li Sarajevo
				li Luxembourg City
				li Budapest
				li Tórshavn
				li Baku
				li Sukhumi
				li Pristina
				li Vaduz
				li Edinburgh
				li Tirana
				li Madrid
				li Copenhagen
				li Riga
				li Zagreb
				li Vienna
				li Kyiv
				li Reykjavík
				li Skopje
				li Athens
				li Lisbon
				li Sofia
				li Dublin (city)
				li Oslo
				li Chișinău
				li Prague
				li Paris
				li Belgrade
				li Andorra la Vella
				li City of San Marino
				li Stockholm
				li Minsk
				li Brussels
				li London
				li Moscow
				li Rome
				li Cardiff
				li Gibraltar
				li Bratislava
				li Monaco
				li Vilnius
				li Ljubljana
				li Valletta
				li Amsterdam
				li Bucharest
				li Tbilisi
				li Helsinki

