extends layout

block content
	main 
		.icon_bar
			h2 Icon Bar
			div
				div
					p Vertical: 
					div 
						i.fa.fa-home.icon_bar_active
						i.fa.fa-search
						i.fa.fa-envelope
						i.fa.fa-globe
						i.fa.fa-trash
				div
					p Horizontal:
					div 
						i.fa.fa-home.icon_bar_active
						i.fa.fa-search
						i.fa.fa-envelope
						i.fa.fa-globe
						i.fa.fa-trash
		.menu_icon 
			h2 Menu Icon 
			div
				div 
					p Menu Icon: 
					.menu_icon_1
						div
						div
						div
				div 
					p Animated Menu Icon (click on it): 
					.menu_icon_2
						div
						div
						div
		.accordion 
			h2 Accordion 
			div 
				div Section 1 #[span &#43;]
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				div Section 2 #[span &#43;]
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				div Section 3 #[span &#43;]
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		.tabs 
			h2 Tabs 
			div 
				nav
					button.tabs_active London 
					button Paris 
					button Tokyo 
				div 
					p London 
					p London is the capital city of England