extends layout

block content
	main 
		.icon_bar
			h2 Icon Bar
			div
				div
					p Vertical: 
					div 
						i.fa.fa-home.icon_bar_active
						i.fa.fa-search
						i.fa.fa-envelope
						i.fa.fa-globe
						i.fa.fa-trash
				div
					p Horizontal:
					div 
						i.fa.fa-home.icon_bar_active
						i.fa.fa-search
						i.fa.fa-envelope
						i.fa.fa-globe
						i.fa.fa-trash
		.menu_icon 
			h2 Menu Icon 
			div
				div 
					p Menu Icon: 
					.menu_icon_1
						div
						div
						div
				div 
					p Animated Menu Icon (click on it): 
					.menu_icon_2
						div
						div
						div
