extends layout

block content
	main 
		.icon_bar
			h2 Icon Bar
			div
				div
					p Vertical: 
					div 
						i.fa.fa-home.icon_bar_active
						i.fa.fa-search
						i.fa.fa-envelope
						i.fa.fa-globe
						i.fa.fa-trash
				div
					p Horizontal:
					div 
						i.fa.fa-home.icon_bar_active
						i.fa.fa-search
						i.fa.fa-envelope
						i.fa.fa-globe
						i.fa.fa-trash
		.menu_icon 
			h2 Menu Icon 
			div
				div 
					p Menu Icon: 
					.menu_icon_1
						div
						div
						div
				div 
					p Animated Menu Icon (click on it): 
					.menu_icon_2
						div
						div
						div
		.accordion 
			h2 Accordion 
			div 
				div
					span Section 1 #[span &#43;]
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				div
					span Section 2 #[span &#43;]
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				div
					span Section 3 #[span &#43;]
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		.tabs 
			h2 Tabs 
			div 
				nav
					button.tabs_active London 
					button Paris 
					button Tokyo 
				div 
					p London 
					p London is the capital city of England
		.vertical_tabs 
			h2 Vertical Tabs 
			div 
				div 
					button.vertical_tabs_active London
					button Paris
					button Tokyo
				div 
					p London 
					p London is the capital city of England
		.tab_headers 
			h2 Tab Headers 
			div 
				div
					p London 
					p London is the capital city of England
				div 
					button.tab_headers_active.tab_headers_active_bg London 
					button Paris 
					button Tokyo 
					button Oslo
		.full_page_tabs 
			h2 Full Page Tabs 
			div 
				nav 
					button.full_page_tabs_active Home 
					button News 
					button Contact 
					button About 
				div 
					p Home
					p Home is where the heart is..
		.hover_tabs 
			h2 Hover Tabs 
			div 
				div 
					button London 
					button Paris 
					button Tokyo 
				div 
					p London 
					p London is the capital city of England.
		.top_navigation 
			h2 Top Navigation Bar 
			nav 
				a.top_navigation_active(href="#") Home
				a(href="#") News
				a(href="#") Contact
				a(href="#") About
		.reponsive_navigation
			h2 Responsive Navigation 
			nav 
				a.reponsive_navigation_active(href="#") Home
				a(href="#") News
				a(href="#") Contact
				a(href="#") About
				button 
		.navbar_with_icons 
			h2 Navbar with Icons 
			nav 
				a(href="#").navbar_with_icons_active #[i.fas.fa-home] Home
				a(href="#") #[i.fas.fa-search] Search 
				a(href="#") #[i.far.fa-envelope] Contact 
				a(href="#") #[i.fas.fa-user] Login
		.search_menu 
			h2 Search Menu 
			div 
				.search_menu_menu
					p Menu 
					form #[input(type="search" placeholder="Search..")]
					ul 
						li.search_menu_menu_active HTML
						li CSS
						li JavaScript
						li PHP
						li Python
						li jQuery
						li SQL
						li Bootstrap
						li Node.js
				.search_menu_cont
					p HTML
					p 
		.search_bar 
			h2 Search Bar 
			nav
				section
					a.search_bar_active(href='#') Home
					a(href='#') About 
					a(href='#') Contact 
				form
					input(type="search" placeholder="Search..")
					button(type="submit") #[i.fas.fa-search]
		.fixed_sidebar 
			h2 Fixed Sidebar 
			div 
				div 
					p Full height #[a(href="/fixed-sidebar-full" target="blank") #[i.fas.fa-external-link-alt]]: 
					iframe(src="/fixed-sidebar-full", frameborder="0") 
				div 
					p Auto height #[a(href="/fixed-sidebar-auto" target="blank") #[i.fas.fa-external-link-alt]]:
					iframe(src="/fixed-sidebar-auto", frameborder="0") 
		.side_navigation 
			a(href='/side-navigation' target='blank') Side Navigation #[i.fas.fa-external-link-alt] 
		.responsive_sidebar 
			h2 Responsive Sidebar #[a(href="/responsive-sidebar" target="blank") #[i.fas.fa-external-link-alt]]
			iframe(src="/responsive-sidebar") 
		.fullSC_nav 
			a(href='/fullscreen-nav' target='blank') Fullscreen Navigation #[i.fas.fa-external-link-alt]
		.hover_sidenav_buttons 
			h2 Hover Sidenav Buttons 
			div 
				h3 Hoverable Sidenav Buttons 
				p Hover over the buttons in the left side navigation to open them.
				div 
					button About 
					button Blog 
					button Projects 
					button Contact 
		.sidebar_with_icons 
			h2 Sidebar with Icons 
			div 
				nav 
					a(href="") #[i.fa-solid.fa-house-chimney] Home
					a(href="") #[i.fa-solid.fa-wrench] Services
					a(href="") #[i.fa-solid.fa-user] Clients
					a(href="") #[i.fa-solid.fa-envelope] Contact
				section 
					h3 Sidebar with Icons 
					p This side navigation is of full height (100%) and always shown.
					p Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.
					p Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.
		.horizontal_scroll_menu 
			h2 Horizontal Scroll Menu
			nav 
				a(href="#") Home
				a(href="#") News
				a(href="#") Contact
				a(href="#") About
				a(href="#") Support
				a(href="#") Blog
				a(href="#") Tools
				a(href="#") Base
				a(href="#") Custom
				a(href="#") More
				a(href="#") Logo
				a(href="#") Friends
				a(href="#") Partners
				a(href="#") People
				a(href="#") Work
		.vertical_menu 
			h2 Vertical Menu 
			nav 
				a.vertical_menu_active(href="#") Home 
				a(href="#") Link 1
				a(href="#") Link 2
				a(href="#") Link 3
				a(href="#") Link 4
		.bottom_navigation 
			h2 Bottom Navigation #[a(href="/bottom-navbar" target="blank") #[i.fas.fa-external-link-alt]] 
			iframe(src="/bottom-navbar", frameborder="0") 