html.bottom_nav_bar 
  head 
    title= title
    link(rel='stylesheet', href='/stylesheets/external_pages.css')
    link(rel='stylesheet', href='/fontawesome-free/css/all.css')
    script(src='/javascripts/external_pages.js')
  body 
    div
      h1 Bottom Navigation Bar 
      p Some text some text some text.
    nav
      a.bottom_nav_bar_active(href="/menu") Home
      a(href="#") News
      a(href="#") Contact

