doctype html
html 
  head 
    title= title
    link(rel='stylesheet', href='/stylesheets/external_pages.css')
    link(rel='stylesheet', href='/fontawesome/css/all.css')
    script(src='/javascripts/external_pages.js')
  block content