extends external_layout 

block content
  body.fixed_menu 
    nav 
      a(href="#") Home 
      a(href="#") News 
      a(href="#") Contact 
    
    h1 Fixed Top Menu 
    h3 Scroll this page to see the effect 
    h3 The navigation bar will stay at the top of the page while scrolling 
    p Some text some text some text some text.
    p Some text some text some text some text.
    p Some text some text some text some text.
    p Some text some text some text some text.
    p Some text some text some text some text.
    p Some text some text some text some text.
    p Some text some text some text some text.
    p Some text some text some text some text.
    p Some text some text some text some text.