extends  ../layout 
block styles_bl
  link(rel='stylesheet', href='/stylesheets/external_pages.css')
block script_bl 
  script(src="/javascripts/external_pages.js")
block content 
  main.fullscreen_nav
    button Slide left-right
    div
      button Slide Right 
      button Slide Down 
      button Show(No animation)
  .fullscreen_nav_slide 
    //- button &#10006;
    button #[i.fa-solid.fa-xmark]
    a(href='#') About 
    a(href='#') Services 
    a(href='#') Client 
    a(href='#') Contact