extends external_layout

block content
  body.side_navigation 
    nav 
      div Side Navigation 
      div 
        button Sidenav Overlay 
        button Sidenav No Animation 
        button Sidenav Push(off-canvas)
        button Sidenav Push(w/opacity)
        button Sidenav full-width