:root {
  --green: #04aa6d;
  --blue: #2196f3;
  --lighttest_grey: #eeeeee;
  --light_grey: #cccccc;
  --grey: #777777;
  --dark_grey: #555555;
  --black-light: #333333;
}

* {
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
  font-size: 62.5%;
}
html, body {
  scroll-behavior: smooth;
  margin: 0;
}


.fixed_sidebar_full {
  font-size: 2rem;
  margin: 5rem 5rem 0 30rem;
}
.fixed_sidebar_full > nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 25rem;
  height: 100%;
  padding-top: 5rem;
}
.fixed_sidebar_full > nav a {
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 2.2rem;
  color: var(--grey);
  display: block;
}
.fixed_sidebar_full > nav a:hover {
  color: white;
}


.fixed_sidebar_auto {
  font-size: 2rem;
  margin: 5rem 5rem 0 30rem;
}
.fixed_sidebar_auto > nav {
  position: fixed;
  top: 5rem;
  left: 5rem;
  background-color: var(--lighttest_grey);
  width: 20rem;
}
.fixed_sidebar_auto > nav a {
  text-decoration: none;
  text-align: center;
  padding: 2rem;
  font-size: 2.2rem;
  color: var(--blue);
  display: block;
}
.fixed_sidebar_auto > nav a:hover {
  color: black;
}


.side_navigation > nav {
  background-color: var(--blue);
  color: white;
  font-size: 3rem;
  padding: 1rem;
  position: relative;
}
.side_navigation > nav > div:nth-child(2)  {
  position: absolute;
  top: 0;
  right: 1rem;
  height: 100%;
}
.side_navigation > nav > div:nth-child(2) button {
  height: 100%;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: lightskyblue;
  padding: 0 1vw;
}
.side_navigation > nav > div:nth-child(2) button:hover {
  background-color: lightskyblue;
  color: white;
}
.side_nav_overlay {
  background-color: black;
  position: fixed;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  /* left: -25rem; */
  padding-top: 10rem;
  z-index: 3;
}
.side_nav_overlay > button {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 2.6rem;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--grey);
}
.side_nav_overlay > a {
  font-size: 2.6rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  text-decoration: none;
  display: block;
  color: var(--grey);
  display: flex;
  justify-content: center;
}
.side_nav_overlay > a:hover,
.side_nav_overlay > button:hover {
  color: white;
}
.side_nav_blur {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
}
.side_nav_back {
  text-align: center;
  padding-top: 30rem;
}
.side_nav_back > a {
  font-size: 4rem;
  color: var(--blue);
  text-decoration: none;
}
.side_nav_back > a:hover {
  color: var(--green);
}