/* https://developer.mozilla.org/en-US/docs/Web/CSS/var() */
:root {
  --green: #04aa6d;
  --blue: #2196f3;
  --lighttest_grey: #eeeeee;
  --light_grey: #cccccc;
  --grey: #777777;
  --dark_grey: #555555;
  --black_light: #333333;
  --red_orange: #f44336;
}

/*#region layout*/
* {
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
  padding-bottom: 4rem;  
}
html, body {
  scroll-behavior: smooth;
  font-size: 62.5%;
  margin: 0;

}
header {
  background:#118AB2;
}
.header_title {
  height: 14rem;
  position: relative;
}
.header_title > a {
  text-decoration: none;
  position: absolute;
  margin: 0;
  left: 50%;
  top: 50%;
  font-size: 3rem;
  transform: translate(-50%, -50%);
  color: #073B4C;
  cursor: pointer;
  transition: color .3s;
  font-style: italic;
  font-weight: bold;
}
.header_title > a:hover {
  color: white;
}
.header_menu {
  display: flex;
  font-size: 1.8rem;
  border-top: 1px solid #06D6A0;
}
.header_menu a {
  text-decoration: none;
  width: 12.5%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: .7rem;
  color: white;
  border-bottom: 3px solid transparent;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}
.header_menu a:hover {
  transition: border-bottom .3s;
  border-bottom: 3px solid #06D6A0;
}
.header_menu_active {
  border-bottom: 3px solid #06D6A0 !important;
}
.header_menu_active_mob {
  background-color: #06D6A0;
}
.header_menu button {
  display: none;
}

footer {
  height: 4rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #073B4C;
  font-size: 1.7rem;
}
footer::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #06D6A0;
}
footer a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}
.footer_menu, .footer_contact {
  position: absolute;
  top: 1.2rem;
}
.footer_contact {
  right: 2rem;
}
footer a:hover {
  transition: color .3s;
  color: #06D6A0;
}
.footer_menu_active {
  color: #06D6A0;
}

.to_top_button {
  font-size: 4rem;
  position: fixed;
  cursor: pointer;
  right: -3rem;
  bottom: 5rem;
}
main {
  padding: 2rem;
  font-size: 1.8rem;
}

@media only screen and (max-width: 750px) {
  header {
    position: relative;
    margin-bottom: 8px;
  }
  .header_title {
    height: 7rem;
    z-index: 3;
    background-color: #118AB2;
  }
  .header_title > a {
    font-size: 2rem;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 7rem;
  }
  .header_menu {
    display: block;
    position: absolute;
    width: 100%;
    font-size: 2rem;
    border-top: none;
    background-color: #073B4C;
    z-index: 2;
  }

  .header_menu a {
    display: block;
    width: 100%;
    border-bottom: 3px solid transparent;
  }

  /* use this to drag down */
  .header_menu button {
    display: block;
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    background-color: #06D6A0;
    height: 8px;
  }
  .header_menu button::before {
    content: "";
    position: absolute;
    width: 4rem;
    height: 4px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
  }
  .footer_menu {
    display: none;
  }
}
/*#endregion layout*/


/*#region index*/
.main_index {
  height: calc(100vh - 189px - 40px);
  position: relative;
  background: rgb(7,59,76);
  background: linear-gradient(0deg, rgba(7,59,76,0.90) 0%, rgba(17,138,178,0.90) 100%);
}
.main_index > div {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main_index > div > h1 {
  font-size: 6rem;  
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: #06D6A0;
}
@media only screen and (max-width: 750px) {
  .main_index {
    height: calc(100vh - 70px - 40px);
  }
  .main_index > div {
    top: 30%;
  }
  .main_index > div > h1 {
    font-size: 3rem;
    width: max-content;
  }
}
/*#endregion index*/


/*#region menu*/
.icon_bar {
  max-width: 140rem;
  margin: 3rem auto;
}
.icon_bar i {
  font-size: 4rem;
  width: 8rem;
  line-height: 8rem;
  text-align: center;
  background-color: var(--dark_grey);
  color: white;
  cursor: pointer;
}
.icon_bar i:hover {
  background-color: #000000;
}
.icon_bar_active {
  background-color: var(--green) !important;  
}
.icon_bar > div {
  display: flex;  
}
.icon_bar > div > div:first-child {
  width: 30%;
}
.icon_bar > div > div:first-child i {
  display: block;
}
.icon_bar > div > div:last-child {
  width: 70%;
}
.icon_bar > div > div:last-child i {
  width: 20%;
}


.menu_icon {
  max-width: 140rem;
  margin: 3rem auto;
}
.menu_icon > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.menu_icon > div > div > p {
  text-align: center;
}
.menu_icon_1, .menu_icon_2 {
  height: 2.5rem;
  width: 3.4rem;
  position: relative;
  margin: auto;
}
.menu_icon_1 > div, .menu_icon_2 > div {
  width: 100%;
  height: 5px;
  background-color: #000000;
  position: absolute;
}
.menu_icon_2 {
  cursor: pointer;
}
.menu_icon_1 > div:nth-child(1),
.menu_icon_2 > div:nth-child(1) {
  top: 0;
  transition: .5s;
}
.menu_icon_1 > div:nth-child(2),
.menu_icon_2 > div:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  transition: .3s;
}
.menu_icon_1 > div:nth-child(3),
.menu_icon_2 > div:nth-child(3) {
  bottom: 0;
  transition: .5s;
}
.menu_icon_2_anim > div:nth-child(1) {
  transform: rotate(45deg);
  top: 40%;
}
.menu_icon_2_anim > div:nth-child(2) {
  opacity: 0;
}
.menu_icon_2_anim > div:nth-child(3) {
  transform: rotate(-45deg);
  top: 40%;
}


.accordion {
  max-width: 140rem;
  margin: 3rem auto;
}
.accordion > div {
  max-width: 110rem;
  margin: auto;
  font-size: 2rem;
}
.accordion > div > div {
  overflow: hidden;
}
.accordion > div > div > span {
  background-color: var(--lighttest_grey);
  display: block;
  padding: 2rem;
  cursor: pointer;
  overflow: hidden;
  z-index: 5;
  position: relative;
}
.accordion > div > div span:hover {
  background-color: var(--light_grey);
}
.accordion > div > div > span span {
  float: right;
}
.accordion > div > div p {
  padding: 2rem;
  margin: 0;
  background-color: white;
}
.accordion_toggle {
  margin-top: 0 !important;
}


.tabs {
  max-width: 140rem;
  margin: 3rem auto;
}
.tabs > div {
  max-width: 110rem;
  margin: auto;
  border: 1px solid var(--light_grey);
}
.tabs > div > nav {
  border-bottom: 1px solid var(--light_grey);
  background-color: var(--lighttest_grey);
}
.tabs > div > nav button {
  border: none;
  outline: none;
  font-size: 1.7rem;
  padding: 2rem;
  background-color: transparent;
  cursor: pointer;
  transition: .3s;
}
.tabs > div > nav button:hover {
  background-color: var(--light_grey);
}
.tabs > div > div {
  padding: 2rem;
}
.tabs > div > div p:nth-child(1) {
  font-size: 3rem;
  margin-top: 1rem;
}
.tabs_active {
  background-color: var(--light_grey) !important;
}


.vertical_tabs {
  max-width: 140rem;
  margin: 3rem auto;
}
.vertical_tabs > div {
  border: 1px solid var(--light_grey);
  max-width: 110rem;
  height: 25rem;
  margin: auto;
  display: flex;
}
.vertical_tabs > div > div:nth-child(1) {
  width: 30%;
  background-color: var(--lighttest_grey);
  border-right: 1px solid var(--light_grey);  
}
.vertical_tabs > div > div button {
  display: block;
  width: 100%;
  font-size: 1.8rem;
  padding: 2rem;
  text-align: start;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
}
.vertical_tabs > div > div button:hover {
  background-color: var(--light_grey);
}
.vertical_tabs > div > div:nth-child(2) {
  width: 70%;
  padding: 0 2rem;

} 
.vertical_tabs > div > div:nth-child(2) p:nth-child(1) {
  font-size: 3rem;
} 
.vertical_tabs_active {
  background-color: var(--light_grey);
}


.tab_headers {
  max-width: 140rem;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tab_headers > div {
  max-width: 110rem;
  margin: auto;
}
.tab_headers > div > div:nth-child(1) {
  text-align: center;
  padding: 5rem;
}
.tab_headers > div > div:nth-child(1) p {
  margin: 0;
  color: white;
}
.tab_headers > div > div:nth-child(1) p:nth-child(1) {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.tab_headers > div > div:nth-child(2) button {
  width: 25%;
  font-size: 2rem;
  padding: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.tab_headers > div > div:nth-child(2) button:hover {
  background-color: var(--light_grey);
}
.tab_headers_active {
  color: white !important;
}
.tab_headers_active_bg {
  background-color: #f44336 !important;  
}


.full_page_tabs {
  max-width: 140rem;
  margin: 3rem auto;
}
.full_page_tabs > div {
  max-width: 110rem;
  margin: auto;
  color: white;
  /* background-color: #118AB2; */
}
.full_page_tabs > div > nav {
  display: flex;
}
.full_page_tabs > div > nav button {
  width: 25%;
  font-size: 2rem;
  padding: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.full_page_tabs > div > nav button:hover {
  background-color: var(--light_grey);
}
.full_page_tabs > div > div {
  padding: 2rem 5rem;
}
.full_page_tabs > div > div p:nth-child(1) {
  font-size: 3rem;
}
.full_page_tabs_active {
  background-color: transparent !important;
  color: white !important;
}


.hover_tabs {
  max-width: 140rem;
  margin: 3rem auto;
}
.hover_tabs > div {
  max-width: 110rem;
  margin: auto;
  border: 1px solid var(--light_grey);
  display: flex;
  height: 25rem;
}
.hover_tabs > div > div:nth-child(1) {
  width: 30%;
  background-color: var(--lighttest_grey);
  border-right: 1px solid var(--light_grey);
}
.hover_tabs > div > div:nth-child(1) button {
  display: block;
  width: 100%;
  font-size: 2rem;
  padding: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.hover_tabs_active {
  background-color: var(--light_grey);
}
.hover_tabs > div > div:nth-child(2) {
  width: 70%;
  padding: 0 4rem;
}
.hover_tabs > div > div:nth-child(2) p:first-child {
  font-size: 3.5rem;
}


.top_navigation {
  max-width: 140rem;
  margin: 3rem auto;
}
.top_navigation > nav {
  background-color: var(--black_light);
}
.top_navigation > nav a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 1.5rem;
}
.top_navigation > nav a:hover {
  background-color: var(--light_grey);
  color: #000000;
}
.top_navigation_active {
  background-color: var(--green) !important;
  color: white !important;
}


.reponsive_navigation {
  max-width: 140rem;
  margin: 3rem auto;
}
.reponsive_navigation > nav {
  position: relative;
  background-color: var(--black_light);
  height: 5rem;
}
.reponsive_navigation > nav a {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 0 1.5rem;
  line-height: 5rem;
}
.reponsive_navigation > nav button {
  height: 5rem;
  width: 5rem;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  cursor: pointer;
  display: none;
}
.reponsive_navigation > nav button::before {
  content: "";
  display: block;
  height: 1.5rem;
  width: 2.4rem;
  border: 3px solid white;
  border-left: none;
  border-right: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.reponsive_navigation > nav button::after {
  content: "";
  display: block;
  width: 2.4rem;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.reponsive_navigation > nav a:hover {
  background-color: var(--light_grey);
  color: #000000;
}
.reponsive_navigation_active {
  background-color: var(--green) !important;
  color: white !important;
}


.navbar_with_icons {
  max-width: 140rem;
  margin: 3rem auto;
}
.navbar_with_icons > nav {
  background-color: var(--black_light);
  display: flex;
}
.navbar_with_icons > nav a {
  text-decoration: none;
  color: white;
  padding: 1.5rem;
}
.navbar_with_icons > nav a i {
  margin-right: .5rem;
}
.navbar_with_icons > nav a:hover {
  background-color: #000000;
}
.navbar_with_icons_active {
  background-color: var(--green) !important;
}


.search_menu {
  max-width: 140rem;
  margin: 3rem auto;
}
.search_menu > div {
  display: flex;
}
.search_menu_menu {
  width: 25%;
  background-color: var(--light_grey);
}
.search_menu_menu > p {
  font-size: 3rem;
  text-indent: 2rem;
}
.search_menu_menu input {
  font-size: 1.8rem;
  padding: 1rem;
  width: 100%;
  border: none;
}
.search_menu_menu > ul {
  list-style-type: none;
  padding: 0;
}
.search_menu_menu > ul > li {
  padding: 2rem;
  cursor: pointer;
}
.search_menu_menu > ul > li:hover {
  background-color: var(--lighttest_grey);
}
.search_menu_cont {
  width: 75%;
  background-color: var(--lighttest_grey);
  padding: 2rem;
}
.search_menu_cont > p:nth-child(1) {
  font-size: 4rem;
  text-align: center;
}
.search_menu_menu_active {
  background-color: var(--lighttest_grey) !important;
}


.search_bar {
  max-width: 140rem;
  margin: 3rem auto;
}
.search_bar > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  background-color: var(--lighttest_grey);
}
.search_bar > nav a {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  padding: 2rem;
  font-size: 2rem;
}
.search_bar > nav a:hover {
  background-color: var(--light_grey);
}
.search_bar > nav > form input,
.search_bar > nav > form button {
  font-size: 1.8rem;
  padding: 1rem;
  border: none;
}
.search_bar > nav > form button {
  background-color: var(--light_grey);
  cursor: pointer;
}
.search_bar > nav > form button:hover {
  filter: brightness(.9);
}
.search_bar_active {
  background-color: var(--blue) !important;
  color: white !important;
}


.fixed_sidebar {
  max-width: 140rem;
  margin: 3rem auto;
}
.fixed_sidebar > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.fixed_sidebar > div iframe {
  width: 100%;
  height: 40rem;
  border: 5px solid var(--light_grey);
}


.side_navigation {
  max-width: 140rem;
  margin: 3rem auto;
}
.side_navigation > a {
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--blue);
}
.side_navigation > a:hover {
  color: black;
}


.responsive_sidebar {
  max-width: 140rem;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
}
.responsive_sidebar > h2 {
  width: 100%;
}
.responsive_sidebar > iframe {
  width: 140rem;
  height: 40rem;
  overflow: scroll;
  border: 4px solid var(--light_grey);  
}


.fullSC_nav {
  max-width: 140rem;
  margin: 3rem auto;
}
.fullSC_nav > a {
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--blue);
}
.fullSC_nav > a:hover {
  color: black;
}


.hover_sidenav_buttons {
  max-width: 140rem;
  margin: auto;
}
.hover_sidenav_buttons > div {
  border: 2px solid var(--light_grey);
  padding-left: 10rem;
  position: relative;
  height: 25rem;
}
.hover_sidenav_buttons > div > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  overflow: hidden;
}
.hover_sidenav_buttons > div > div button {
  display: block;
  font-size: 2rem;
  width: 15rem;
  text-align: start;
  text-indent: 1rem;
  padding: 1.4rem 0;
  margin: .7rem 0;
  border: none;
  outline: none;
  color: white;
  border-radius: 0 .5rem .5rem 0;
  cursor: pointer;
  margin-left: -10rem;
  transition: margin-left 500ms;
}
.hover_sidenav_buttons > div > div button:nth-child(1) {
  background-color: var(--green);
}
.hover_sidenav_buttons > div > div button:nth-child(2) {
  background-color: var(--blue);
}
.hover_sidenav_buttons > div > div button:nth-child(3) {
  background-color: var(--red_orange);
}
.hover_sidenav_buttons > div > div button:nth-child(4) {
  background-color: var(--dark_grey);
}
.hover_sidenav_buttons > div > div button:hover {
  margin-left: 0;
}


.sidebar_with_icons {
  max-width: 140rem;
  margin: auto;
}
.sidebar_with_icons > div {
  border: 2px solid var(--light_grey);
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.sidebar_with_icons > div > nav {
  background-color: black;
  padding-top: 2rem;
}
.sidebar_with_icons > div > nav a {
  display: block;
  text-decoration: none;
  font-size: 1.8rem;
  font-family: sans-serif;
  color: var(--grey);
  padding: 1rem 0 1rem 2rem;
}
.sidebar_with_icons > div > nav a:hover {
  color: white;
}
.sidebar_with_icons > div > section {
  padding: 0 1rem 4rem 4rem;
}


.horizontal_scroll_menu {
  max-width: 140rem;
  margin: auto;
}
.horizontal_scroll_menu > nav {
  background-color: var(--black_light);
  max-width: 80rem;
  display: flex;
  overflow-x: auto;
  margin: auto;
}
.horizontal_scroll_menu > nav a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  padding: 2rem;
}
.horizontal_scroll_menu > nav a:hover {
  background-color: var(--grey);
}


.vertical_menu {
  max-width: 140rem;
  margin: auto;
}
.vertical_menu > nav {
  max-width: 40rem;
}
.vertical_menu > nav a {
  display: block;
  background-color: var(--lighttest_grey);
  text-decoration: none;
  font-size: 2rem;
  color: black;
  padding: 1rem;
}
.vertical_menu_active {
  background-color: var(--green) !important;
  color: white !important;
}
.vertical_menu > nav a:hover {
  filter: brightness(.8);
}


.bottom_navigation {
  max-width: 140rem;
  margin: auto;
}
.bottom_navigation > iframe {
  width: 100%;
  height: 40rem;
  border: 3px solid var(--lighttest_grey);
}


@media only screen and (max-width: 750px) {
  .icon_bar > div {
    display: block;
  }
  .icon_bar > div > div:last-child {
    width: 100%;
  }


  .top_navigation > nav a {
    width: 25%;
    text-align: center;
  }

  
  .reponsive_navigation > nav button {
    display: block;
  }
  .reponsive_navigation > nav {
    height: fit-content;
  }
  .reponsive_navigation > nav a:nth-of-type(n+2) {
    display: none;
  }


  .navbar_with_icons > nav {
    flex-direction: column;
  }


  .search_menu > div {
    flex-direction: column;
  }
  .search_menu_menu {
    width: 100%;
  }
  .search_menu_cont {
    width: 100%;
  }


  .search_bar > nav {
    display: flex;
    flex-direction: column;
    padding-right: 0;
  }
  .search_bar > nav section,
  .search_bar > nav form {
    width: 100%;
  }
  .search_bar > nav form {
    display: flex;
  }
  .search_bar > nav form input {
    width: 100%;
    border-left: 1px solid var(--lighttest_grey);
    border-bottom: 1px solid var(--lighttest_grey);
  }
  .search_bar > nav a {
    width: 100%;
  }


  .sidebar_with_icons > div {
    display: block;
  }
  .sidebar_with_icons > div > nav {
    padding: 1rem;
    text-align: center;
  }
  .sidebar_with_icons > div > nav a {
    padding: 1rem 0;
  }
}
/*#endregion menu*/


/*#region filters*/
.sort_list {
  max-width: 140rem;
  margin: auto;
}
.sort_list > ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.sort_list > ul > li {
  border-bottom: 1px solid black;
}
.sort_list > button {
  cursor: pointer;
}
.sort_list > span {
  margin-left: 2rem;
  color: var(--green);
}
/*#endregion filters*/